.button{
    height: 40px;
    width: 40px;
    border: unset;
    background-color: unset;
    transition: all .3s;
    &:hover{
        transform: scale(1.1);
    }
    background-repeat: no-repeat;
}